/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  width: 80vw;
  margin: 10px auto !important;
  position: relative;
}

.blog-item {
  margin: 20px;
  border: 2px solid grey;
  border-radius: 6px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 2px 2px;
}

.blog-item:hover {
  transform: scale(1.02);
}

nav a {
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid;
  margin-right: 5px;
}

.custom-footer {
  border: 1px solid;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  position: fixed;
  bottom: 0;
  width: 80vw;
  margin-bottom: 10px;
}

main {
  max-height: 90vh;
}
